.buttons{
  text-align: right;
  margin-top:25px;
  margin-bottom: 25px;
}

.buttons #open{
  margin-left:25px;
}


button{
  color:#fff;
  background-color: #3F51B5;
}

mat-card{
}

.common{
  box-sizing: border-box;
  width:50%;
  min-height: 70vh;
  border-top: 2px solid lightgray;
  border-bottom:2px solid lightgray;
  padding:20px;
}
#first{
  float:left;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#second{
  float:right;
  border-right: 2px solid lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
