<mat-toolbar color="primary">

  <a>{{this.getEventName()}}</a>

  <!--  Replaced by module-list-component
  <a routerLink="details">
    <button mat-raised-button><mat-icon>description</mat-icon>Description</button>
  </a>
  <a routerLink="photos">
    <button mat-raised-button><mat-icon>photo_camera</mat-icon>Photos</button>
  </a>
  <a routerLink="shopping">
    <button mat-raised-button><mat-icon>shopping_cart</mat-icon>Liste de courses</button>
  </a>

  -->
  <span class="example-spacer"></span>

  <a routerLink="/events" id="back">
    <button mat-raised-button>
      <mat-icon>undo</mat-icon>
      Retour aux événements
    </button>
  </a>

</mat-toolbar>

<div class="container">
  <div class="left">
    <router-outlet></router-outlet>
  </div>

  <div class="right">
    <app-module-list></app-module-list>
  </div>

</div>
