mat-toolbar {
  margin-top: 20px;
}

mat-toolbar a {
  padding: 0 20px;
}

mat-toolbar mat-icon {
  padding-right: 10px;
}

.left {
  width: 70%;
  float: left;
}

.right {
  width: 30%;
  float: right;
}

.example-spacer {
  flex: 1 1 auto;
}


#back button{
  background-color: #3F51B5;
  color:#fff;
}

#back button:hover{
  background-color: #fff;
  color:#000;
}
