<mat-toolbar color="primary">

  <a>{{this.getEventName()}}</a>

  <span class="example-spacer"></span>


    <mat-icon class="users" (click)="switchUser()">group</mat-icon>



  <a routerLink="/events" id="back">
    <button mat-raised-button>
      <mat-icon>undo</mat-icon>
      Retour aux événements
    </button>
  </a>

</mat-toolbar>

<div class="container">
  <div class="left">
    <router-outlet></router-outlet>
  </div>

  <div class="right">
    <app-module-list></app-module-list>
  </div>

</div>
