button{
  display:inline-block;
  margin:25px;
  width:100px;
  height:100px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
  color:#000;
}

button:focus{
  outline: 0;
}

.content{
  text-align: center;
  padding-top: 15px;
}

mat-icon{
  display:block;
  margin:0 auto;

}

.activeStyle{
  border: 2px #3F51B5 solid;
}
