<mat-radio-group>
  <button mat-button class="hvr-grow" routerLink="details" value="info">
    <div class="content">
      <mat-icon>description</mat-icon>
      Infos
    </div>
  </button>
  <button mat-button class="hvr-grow" routerLink="photos" value="photo">
    <div class="content">
      <mat-icon>photo_camera</mat-icon>
      Photos
    </div>
  </button>
  <button mat-button class="hvr-grow" routerLink="shopping" value="shopping">
    <div class="content">
      <mat-icon>shopping_cart</mat-icon>
      Shopping
    </div>
  </button>
  <button mat-button class="hvr-grow" routerLink="photos" value="music">
    <div class="content">
      <mat-icon>library_music</mat-icon>
      Musique
    </div>
  </button>
</mat-radio-group>
